*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;    align-items: center;
    background-color: black;
}
.box{
    width: min(10vh, 10vw);     height: min(10vh, 10vw);
    border-radius: 50%;
    overflow: hidden;
}
.message{
    position: absolute;
    top: 50%;       left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    padding: 0 2%;
    border-radius: 4px;
    border: solid black 2px;
    box-shadow: 0 0 6px red;
    color: yellow;
    text-shadow: 0 0 7px yellowgreen;
    background-color: hsla(0, 100%, 40%, 0.85);
    z-index: 10;
}
.name{
    position: absolute;
    bottom: 7%;
    border-radius: 4px;
    padding: .2%;
    background-color: aliceblue;
}
.container{
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    filter: brightness(120%) saturate(130%) blur(1.5px);
    /* always square */
    background-color: rgb(20, 0, 0);
    box-shadow: 0 0 6rem red, 0 0 15rem hsla(120, 100%, 25%, 0.942), 0 0 25rem hsla(240, 100%, 50%, 0.678), 0 0 30rem hsla(0, 100%, 50%, 0.511);
}
.row{
    display: flex;
}